In [1]:
import pandas as pd
import numpy as np
from talib.abstract import *

In [2]:
pd.read_excel("BTC-USD.xlsx").head()
BTC = pd.read_excel("BTC-USD.xlsx")
BTC_modify=BTC.dropna()
BTC_modify

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07
...,...,...,...,...,...,...,...
2434,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10
2435,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10
2436,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11
2437,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10
2438,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10

In [3]:
inputs = {
    'open':BTC_modify["Open"].to_numpy(),
    'high':BTC_modify["High"].to_numpy(),
    'low': BTC_modify["Low"].to_numpy(),
    'close':BTC_modify["Close"].to_numpy(),
    'volume':BTC_modify["Volume"].to_numpy()
}

In [4]:
BTC_modify['AD']=0.0
BTC_modify['AD']=AD(inputs)
BTC_modify

<ipython-input-4-439a634726d3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_modify['AD']=0.0
<ipython-input-4-439a634726d3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_modify['AD']=AD(inputs)

,Date,Open,High,Low,Close,Adj Close,Volume,AD
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,-7.924336e+06
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,-2.454020e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,-4.448391e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,-3.937687e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,-5.037763e+07
...,...,...,...,...,...,...,...,...
2434,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,3.592188e+12
2435,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,3.553668e+12
2436,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,3.551481e+12
2437,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,3.599739e+12
2438,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,3.525118e+12

In [5]:
BTC_final=BTC_modify.dropna()
BTC_final=BTC_final.reset_index(drop=True)
BTC_final

,Date,Open,High,Low,Close,Adj Close,Volume,AD
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,-7.924336e+06
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,-2.454020e+07
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,-4.448391e+07
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,-3.937687e+07
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,-5.037763e+07
...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,3.592188e+12
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,3.553668e+12
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,3.551481e+12
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,3.599739e+12
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,3.525118e+12

In [6]:
BTC_trade=BTC_final
BTC_trade['Buy']=0
BTC_trade['Hold']=0
BTC_trade['Sell']=0
BTC_trade

,Date,Open,High,Low,Close,Adj Close,Volume,AD,Buy,Hold,Sell
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,-7.924336e+06,0,0,0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,-2.454020e+07,0,0,0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,-4.448391e+07,0,0,0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,-3.937687e+07,0,0,0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,-5.037763e+07,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,3.592188e+12,0,0,0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,3.553668e+12,0,0,0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,3.551481e+12,0,0,0
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,3.599739e+12,0,0,0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,3.525118e+12,0,0,0

In [7]:
#当前AD值大于前一周期的AD值，且当前收盘价大于前一周期的收盘价时，买入；
#当前AD值小于前一周期的AD值，且当前收盘价小于前一周期的收盘价时，卖出。
for i in range(8, len(BTC_trade)):
    if (BTC_trade.loc[i,'AD']<BTC_trade.loc[i-7,'AD'] and BTC_trade.loc[i,'Adj Close']<BTC_trade.loc[i-7,'Adj Close']) and BTC_trade.loc[i-1,'Hold']==0:
        BTC_trade['Buy'][i]=1
        BTC_trade['Hold'][i]=1
        BTC_trade['Sell'][i]=0
    elif (BTC_trade.loc[i,'AD']>BTC_trade.loc[i-7,'AD'] and BTC_trade.loc[i,'Adj Close']>BTC_trade.loc[i-7,'Adj Close'])  and BTC_trade.loc[i-1,'Hold']==1:
        BTC_trade['Buy'][i]=0
        BTC_trade['Hold'][i]=0
        BTC_trade['Sell'][i]=1
    elif(BTC_trade.loc[i-1,'Hold']>0):
        BTC_trade['Buy'][i]=0
        BTC_trade['Hold'][i]=1
        BTC_trade['Sell'][i]=0
BTC_trade

<ipython-input-7-f8557c8aa202>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Buy'][i]=1
<ipython-input-7-f8557c8aa202>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Hold'][i]=1
<ipython-input-7-f8557c8aa202>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Sell'][i]=0
<ipython-input-7-f8557c8aa202>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Buy'][i]=0
<ipython-input-7-f8557c8aa202>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Hold'][i]=1
<ipython-input-7-f8557c8aa202>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Sell'][i]=0
<ipython-input-7-f8557c8aa202>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Buy'][i]=0
<ipython-input-7-f8557c8aa202>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Hold'][i]=0
<ipython-input-7-f8557c8aa202>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Sell'][i]=1

,Date,Open,High,Low,Close,Adj Close,Volume,AD,Buy,Hold,Sell
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,-7.924336e+06,0,0,0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,-2.454020e+07,0,0,0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,-4.448391e+07,0,0,0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,-3.937687e+07,0,0,0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,-5.037763e+07,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,3.592188e+12,0,1,0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,3.553668e+12,0,1,0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,3.551481e+12,0,1,0
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,3.599739e+12,0,1,0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,3.525118e+12,0,1,0

In [8]:
BTC_trade["Number"]=0.0
BTC_trade["Value"]=0.0
BTC_trade["Return"]=0.0
BTC_trade.head(20)

,Date,Open,High,Low,Close,Adj Close,Volume,AD,Buy,Hold,Sell,Number,Value,Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,-7.924336e+06,0,0,0,0.0,0.0,0.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,-2.454020e+07,0,0,0,0.0,0.0,0.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,-4.448391e+07,0,0,0,0.0,0.0,0.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,-3.937687e+07,0,0,0,0.0,0.0,0.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,-5.037763e+07,0,0,0,0.0,0.0,0.0
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,-4.974146e+07,0,0,0,0.0,0.0,0.0
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,-1.610777e+07,0,0,0,0.0,0.0,0.0
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,-3.825869e+07,0,0,0,0.0,0.0,0.0
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,-5.703557e+07,1,1,0,0.0,0.0,0.0
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,-6.580018e+07,0,1,0,0.0,0.0,0.0
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,-7.385019e+07,0,1,0,0.0,0.0,0.0
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,-9.242139e+07,0,1,0,0.0,0.0,0.0
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,-1.087491e+08,0,1,0,0.0,0.0,0.0
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,-9.000780e+07,0,1,0,0.0,0.0,0.0
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,-1.022057e+08,0,1,0,0.0,0.0,0.0
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,-1.166056e+08,0,1,0,0.0,0.0,0.0
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,-1.423567e+08,0,1,0,0.0,0.0,0.0
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,-1.822998e+08,0,1,0,0.0,0.0,0.0
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,-1.665553e+08,0,1,0,0.0,0.0,0.0
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,-1.434237e+08,0,1,0,0.0,0.0,0.0

In [9]:
initial = 10000
for i in range(5, len(BTC_trade)):
    if(BTC_trade['Buy'][i] == 1)and(BTC_trade['Hold'][i]== 1)and(BTC_trade['Sell'][i] == 0):#buy
        #持有数量=手中资本/标的的收盘价
        BTC_trade['Number'][i] = initial/BTC_trade['Adj Close'][i]
        #市值 = 持有數量* 該標的收盤價
        BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
        #期間報酬 = (市值-投入成本)/投入成本
        BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
    elif(BTC_trade['Buy'][i] == 0)and(BTC_trade['Hold'][i] == 0)and(BTC_trade['Sell'][i] == 1):#sell
        #持有數量為 0 
        BTC_trade['Number'][i] = 0
        #市值 = 持有數量* 該標的收盤價
        BTC_trade['Value'][i] = BTC_trade['Number'][i-1] * BTC_trade['Adj Close'][i]
        #期間報酬 = (市值-投入成本)/投入成本
        BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
    elif(BTC_trade['Buy'][i] == 0)and(BTC_trade['Hold'][i]==1)and(BTC_trade['Sell'][i] == 0):#hold
        BTC_trade['Number'][i] = BTC_trade['Number'][i-1]
        BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
        BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
BTC_trade.head(20)

<ipython-input-9-fa3bd2c04d14>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Number'][i] = initial/BTC_trade['Adj Close'][i]
<ipython-input-9-fa3bd2c04d14>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
<ipython-input-9-fa3bd2c04d14>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
<ipython-input-9-fa3bd2c04d14>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Number'][i] = BTC_trade['Number'][i-1]
<ipython-input-9-fa3bd2c04d14>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Value'][i] = BTC_trade['Number'][i] * BTC_trade['Adj Close'][i]
<ipython-input-9-fa3bd2c04d14>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)
<ipython-input-9-fa3bd2c04d14>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Number'][i] = 0
<ipython-input-9-fa3bd2c04d14>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Value'][i] = BTC_trade['Number'][i-1] * BTC_trade['Adj Close'][i]
<ipython-input-9-fa3bd2c04d14>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Return'][i] = round((BTC_trade['Value'][i]-initial)/initial,4)

,Date,Open,High,Low,Close,Adj Close,Volume,AD,Buy,Hold,Sell,Number,Value,Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,-7.924336e+06,0,0,0,0.000000,0.000000,0.0000
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,-2.454020e+07,0,0,0,0.000000,0.000000,0.0000
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,-4.448391e+07,0,0,0,0.000000,0.000000,0.0000
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,-3.937687e+07,0,0,0,0.000000,0.000000,0.0000
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,-5.037763e+07,0,0,0,0.000000,0.000000,0.0000
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,-4.974146e+07,0,0,0,0.000000,0.000000,0.0000
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,-1.610777e+07,0,0,0,0.000000,0.000000,0.0000
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,-3.825869e+07,0,0,0,0.000000,0.000000,0.0000
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,-5.703557e+07,1,1,0,24.296967,10000.000000,0.0000
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,-6.580018e+07,0,1,0,24.296967,9826.300570,-0.0174
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,-7.385019e+07,0,1,0,24.296967,9707.123972,-0.0293
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,-9.242139e+07,0,1,0,24.296967,9164.354294,-0.0836
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,-1.087491e+08,0,1,0,24.296967,9122.709536,-0.0877
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,-9.000780e+07,0,1,0,24.296967,9401.565582,-0.0598
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,-1.022057e+08,0,1,0,24.296967,9320.680736,-0.0679
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,-1.166056e+08,0,1,0,24.296967,9113.111772,-0.0887
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,-1.423567e+08,0,1,0,24.296967,8735.051015,-0.1265
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,-1.822998e+08,0,1,0,24.296967,7990.446263,-0.2010
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,-1.665553e+08,0,1,0,24.296967,7787.421122,-0.2213
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,-1.434237e+08,0,1,0,24.296967,8019.918799,-0.1980

In [10]:
BTC_trade["Holding_days"]=0.0
BTC_trade["Annualized_Return"]=0.0
BTC_trade

,Date,Open,High,Low,Close,Adj Close,Volume,AD,Buy,Hold,Sell,Number,Value,Return,Holding_days,Annualized_Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,2.105680e+07,-7.924336e+06,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,3.448320e+07,-2.454020e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,3.791970e+07,-4.448391e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,3.686360e+07,-3.937687e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,2.658010e+07,-5.037763e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2430,2021-05-17,46415.898438,46623.558594,42207.289063,43537.511719,43537.511719,7.490364e+10,3.592188e+12,0,1,0,0.203457,8857.993424,-0.1142,0.0,0.0
2431,2021-05-18,43488.058594,45812.457031,42367.832031,42909.402344,42909.402344,5.618737e+10,3.553668e+12,0,1,0,0.203457,8730.200436,-0.1270,0.0,0.0
2432,2021-05-19,42944.976563,43546.117188,30681.496094,37002.441406,37002.441406,1.263581e+11,3.551481e+12,0,1,0,0.203457,7528.390340,-0.2472,0.0,0.0
2433,2021-05-20,36753.667969,42462.984375,35050.617188,40782.738281,40782.738281,8.828194e+10,3.599739e+12,0,1,0,0.203457,8297.516630,-0.1702,0.0,0.0
2434,2021-05-21,40949.996094,42172.171875,39726.894531,39726.894531,39726.894531,7.462050e+10,3.525118e+12,0,1,0,0.203457,8082.698267,-0.1917,0.0,0.0

In [11]:
start = 0.0
end = 0.0
for i in range(1, len(BTC_trade)):
    if(BTC_trade['Buy'][i] == 1):
        BTC_trade['Holding_days'][i] = 1
        start = BTC_trade['Date'][i]
    elif((BTC_trade['Hold'][i] == 1) or (BTC_trade['Sell'][i] == 1))and(BTC_trade['Buy'][i] == 0):
        end = BTC_trade['Date'][i]
        delta = (end - start).days
        BTC_trade['Holding_days'][i]= delta+1
BTC_trade.head(20)

<ipython-input-11-822ddc8a75cc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Holding_days'][i] = 1
<ipython-input-11-822ddc8a75cc>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Holding_days'][i]= delta+1

,Date,Open,High,Low,Close,Adj Close,Volume,AD,Buy,Hold,Sell,Number,Value,Return,Holding_days,Annualized_Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,-7.924336e+06,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,-2.454020e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,-4.448391e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,-3.937687e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,-5.037763e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,-4.974146e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,-1.610777e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,-3.825869e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.0
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,-5.703557e+07,1,1,0,24.296967,10000.000000,0.0000,1.0,0.0
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,-6.580018e+07,0,1,0,24.296967,9826.300570,-0.0174,2.0,0.0
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,-7.385019e+07,0,1,0,24.296967,9707.123972,-0.0293,3.0,0.0
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,-9.242139e+07,0,1,0,24.296967,9164.354294,-0.0836,4.0,0.0
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,-1.087491e+08,0,1,0,24.296967,9122.709536,-0.0877,5.0,0.0
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,-9.000780e+07,0,1,0,24.296967,9401.565582,-0.0598,6.0,0.0
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,-1.022057e+08,0,1,0,24.296967,9320.680736,-0.0679,7.0,0.0
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,-1.166056e+08,0,1,0,24.296967,9113.111772,-0.0887,8.0,0.0
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,-1.423567e+08,0,1,0,24.296967,8735.051015,-0.1265,9.0,0.0
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,-1.822998e+08,0,1,0,24.296967,7990.446263,-0.2010,10.0,0.0
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,-1.665553e+08,0,1,0,24.296967,7787.421122,-0.2213,11.0,0.0
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,-1.434237e+08,0,1,0,24.296967,8019.918799,-0.1980,12.0,0.0

In [12]:
for i in range(1, len(BTC_trade)):
    if(BTC_trade['Buy'][i]==1)or(BTC_trade['Hold'][i]==1)or(BTC_trade['Sell'][i]==1):
        BTC_trade['Annualized_Return'][i] = (1+BTC_trade['Return'][i])**(365/BTC_trade['Holding_days'][i])-1
BTC_trade.head(20)

<ipython-input-12-1c8d1656dd11>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BTC_trade['Annualized_Return'][i] = (1+BTC_trade['Return'][i])**(365/BTC_trade['Holding_days'][i])-1

,Date,Open,High,Low,Close,Adj Close,Volume,AD,Buy,Hold,Sell,Number,Value,Return,Holding_days,Annualized_Return
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0,-7.924336e+06,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0,-2.454020e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0,-4.448391e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0,-3.937687e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0,-5.037763e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
5,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0,-4.974146e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
6,2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500.0,-1.610777e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
7,2014-09-24,435.751007,436.112000,421.131989,423.204987,423.204987,30627700.0,-3.825869e+07,0,0,0,0.000000,0.000000,0.0000,0.0,0.000000
8,2014-09-25,423.156006,423.519989,409.467987,411.574005,411.574005,26814400.0,-5.703557e+07,1,1,0,24.296967,10000.000000,0.0000,1.0,0.000000
9,2014-09-26,411.428986,414.937988,400.009003,404.424988,404.424988,21460800.0,-6.580018e+07,0,1,0,24.296967,9826.300570,-0.0174,2.0,-0.959378
10,2014-09-27,403.556000,406.622986,397.372009,399.519989,399.519989,15029300.0,-7.385019e+07,0,1,0,24.296967,9707.123972,-0.0293,3.0,-0.973166
11,2014-09-28,399.471008,401.016998,374.332001,377.181000,377.181000,23613300.0,-9.242139e+07,0,1,0,24.296967,9164.354294,-0.0836,4.0,-0.999653
12,2014-09-29,376.928009,385.210999,372.239990,375.467010,375.467010,32497700.0,-1.087491e+08,0,1,0,24.296967,9122.709536,-0.0877,5.0,-0.998770
13,2014-09-30,376.088013,390.976990,373.442993,386.944000,386.944000,34707300.0,-9.000780e+07,0,1,0,24.296967,9401.565582,-0.0598,6.0,-0.976509
14,2014-10-01,387.427002,391.378998,380.779999,383.614990,383.614990,26229400.0,-1.022057e+08,0,1,0,24.296967,9320.680736,-0.0679,7.0,-0.974433
15,2014-10-02,383.988007,385.497009,372.946014,375.071991,375.071991,21777700.0,-1.166056e+08,0,1,0,24.296967,9113.111772,-0.0887,8.0,-0.985561
16,2014-10-03,375.181000,377.695007,357.859009,359.511993,359.511993,30901200.0,-1.423567e+08,0,1,0,24.296967,8735.051015,-0.1265,9.0,-0.995852
17,2014-10-04,359.891998,364.487000,325.885986,328.865997,328.865997,47236500.0,-1.822998e+08,0,1,0,24.296967,7990.446263,-0.2010,10.0,-0.999723
18,2014-10-05,328.915985,341.800995,289.295990,320.510010,320.510010,83308096.0,-1.665553e+08,0,1,0,24.296967,7787.421122,-0.2213,11.0,-0.999751
19,2014-10-06,320.389008,345.134003,302.559998,330.079010,330.079010,79011800.0,-1.434237e+08,0,1,0,24.296967,8019.918799,-0.1980,12.0,-0.998783

In [13]:
# annual return computation
# https://www.investopedia.com/terms/a/annualized-total-return.asp
period_return = 1
annual_return = 1
trading_counts = 0
for i in range(1, len(BTC_trade)):
    if(BTC_trade['Sell'][i]==1):
        period_return = period_return * (1+BTC_trade['Return'][i])
        annual_return = annual_return * (1+BTC_trade['Annualized_Return'][i])
        trading_counts = trading_counts + 1
print('trading_counts: ',trading_counts)
final_period_return = period_return**(1/trading_counts)-1
print('final_period_return:',final_period_return)
final_annual_return = annual_return**(1/trading_counts)-1
print('final_annual_return:',final_annual_return)

trading_counts:  116
final_period_return: -0.001518372132576662
final_annual_return: 3.0169582790807716